@using DentalStudio.Web.ViewModels.Patients
@model PatientAppointmentCreateModel
@{
    ViewData["Title"] = "Add Appointment By Doctor";
}


@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-danger">
        @this.TempData["InfoMessage"]
    </div>
}

<div class="container" style="margin-top: 2% ">
    <h5 class="text-center text-info">Add appointment for Dr. @Model.DoctorName</h5>
    <div class="row" style="margin-top: 5% ">
        <div class="col-sm-3"> </div>
        <div class="col-md-8">
            <div class="tab-content">
                <form asp-area="" asp-controller="Patients" asp-action="AddAppointmentByDoctor" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="col-md-6">
                        <div class="form-group mx-auto w-45">
                            <label asp-for="Date"></label>
                            <input type="date" class="form-control" id="date" placeholder="Date..." asp-for="Date">
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mx-auto w-45">
                            <label asp-for="Time"></label>
                            <input id="time" type="time" name="time" value="09:00" min="09:00" max="15:00"
                                   class="form-control" step="1200" asp-for="Time">
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DoctorName"></label>
                            <input type="text" class="form-control" id="doctorName" placeholder="First Name..." asp-for="DoctorName">
                            <span asp-validation-for="DoctorName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProcedureName">Procedure</label>
                            <select class="form-control text-primary" id="procedureName" asp-for="ProcedureName">
                                <option selected disabled>--- Select Procedure ---</option>
                                @foreach (var procedure in Model.Procedures)
                                {
                                    <option value="@procedure.Name">@procedure.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ProcedureName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <a asp-action="Doctors" asp-controller="Patients" class="btn btn-default active">Откажи</a>
                        <button type="submit" class="btn btn-primary float-lg-right">Добави</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('date').value = new Date().toISOString().substring(0, 10);
    </script>
}





