@using DentalStudio.Web.ViewModels.Medicine.Doctors
@using DentalStudio.Data.Models.Enumerations
@model DoctorProfileEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<div class="container" style="margin-top: 1% ">
    <h2 class="text-center text-info"> Редактирай</h2>
    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-md-8">
            <div class="tab-content">
                <form asp-area="Medicine" asp-controller="Doctors" asp-action="EditProfile" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name..." asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name..." asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Specialty"></label>
                            <input type="text" class="form-control" id="specialty" placeholder="Specialty..." asp-for="Specialty">
                            <span asp-validation-for="Specialty" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Email..." asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number..." asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mx-auto w-45">
                            <label asp-for="Photo"></label>
                            <input type="file" class="form-control" id="photo" placeholder="Photo..." asp-for="Photo">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                            <span id="file-selected"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mx-auto w-45">
                            <label asp-for="DateOfBirth"></label>
                            <input type="date" class="form-control" id="dateOfBirth" placeholder="Date of birth..." asp-for="DateOfBirth">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control" id="address" placeholder="Address" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender"></label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Grade"></label>
                            <textarea id="grade" rows="2" cols="50" placeholder="Grade..." asp-for="Grade">
                            </textarea>
                            <span asp-validation-for="Grade" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-info">Обнови</button>
                        <a asp-controller="Doctors" asp-action="Profile" asp-route-id="@Model.UserId" class="btn btn-info">Откажи</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}










