<div class="col-md-10" style="margin-top: 10%">
    <div class="card-header">
        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Change password <i class="fas fa-key"></i></a>
    </div>
</div>
<div class="col-md-10" style="margin-top: 5%">
    <div class="card-header">
        <a asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Change email <i class="far fa-envelope"></i></a>
    </div>
</div>
<div class="col-md-10" style="margin-top: 5%">
    <div class="card-header">
        <a asp-area="Identity" asp-controller="Account" asp-action="Logout" title="Logout">Logout  <i class="fas fa-sign-out-alt float-none"></i> </a>
    </div>
</div>


