<!-- WELCOME-->
<section id="title-font" class="container" style="margin-top: 2%">
    <div class="row">
        <div class="col-md-12 float-lg-right">
            <h3>
                Welcome to Dental Studio!
            </h3>
        </div>
    </div>
    <hr />
</section>
<!--END WELCOME-->
