@{
    ViewData["Title"] = "All";
}



<!-- Services section -->
<section>
    <div class="container">
        <div class="section-title text-center" style="margin-top:2%">
            <h2>Our Services</h2>
        </div>
        <div class="row"style="margin-top:5%">
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Crowns Bridges</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Implants</h4>
                    <p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Teeth Whitening</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Root Canals</h4>
                    <p>Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Wisdom Teeths</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem per venenatis turpis,</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 service">
                <div class="service-content">
                    <h4>Braces</h4>
                    <p>Nullam lorem sem, viverra a rutru m sed, gravida mattis magna. Suspendisse vitae commodo.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end -->
