@{
    ViewData["Title"] = "Profile";
}

<div class="containerForm" style="margin-top: 2% ">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10" style="margin-top: 0%">
                <div class="text-center" style="color:cornflowerblue">
                    Manage your account
                </div>
            </div>
            <partial name="_ManageProfilePartial" />
        </div>
        </div>
        <div class="col-md-10"style="margin-top: 2%">
            <a class="btn btn-primary mb-3" style="width:auto"
               asp-action="Index" asp-controller="Dashboard"> Back</a>
        </div>
    </div>
  

