@using DentalStudio.Common;
@model DentalStudio.Web.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "404";
}

<section id="titlebar">
    <div class="container" style="margin-top:10%">
        <div>
            <h1><big>404 </big></h1>
        </div>
    </div>
</section>

<div class="container" style="margin-bottom:15%">
    <div class="text-center">      
        <h2>OOPS, SORRY WE CAN'T FIND THAT PAGE! </h2>
        <h6>Either something went wrong or the page doesn't exist anymore!</h6>
    </div>
    <div class="col-md-12 text-center">
        <div style="margin-top:5%">
            <a class="btn btn-info" href="/">HOME PAGE</a>
        </div>
    </div>
</div>


